{% extends "layout.html" %}
{% block body %}
<br><br><br><br>
<br><br><br><br>
<div class="w3-container w3-center w3-animate-zoom">
      <img src="\static\images\download.jpg" style="margin-top: 50px;margin-right:900px;height: 80px;margin-left: 190px">
  </div>
  
  <center>
  <div class="w3-container w3-center w3-animate-zoom">
  <form action="{{ url_for('Login') }}" method="post" style = " background: linear-gradient(violet,lavender);
       width:40%;
       color:black;
       margin-bottom:100px;
       margin-left:320px;
       border-radius:25px">
    <center>
      <dl>
        <dt>Email ID:</dt>
        <dd><input type="email" name="email" placeholder="example@gmail.com"></dd>
        <dt>Password:</dt>
        <dd><input type="password" name="password"></dd>
        <br>
        <dd><input type="submit" value="Login" class="btn btn-info" style="background-color: cornflowerblue;border-radius:5px"></dd>
      </dl>
    </center>
  </form>
</div>
<center>
  {% if error %}<p class="error" style="margin-top: -100px;margin-left: 10px"><strong>Error:</strong> {{ error }}{% endif %}
<br><br><br><br>
<br><br><br><br>
{% endblock %}