{% extends "layout2.html" %}
{% block body %}

<!-- <div class="well"> -->
	<form action="{{ url_for('python') }}" method="post" style = "background-color:#fff2cc;margin: #ff80ff; border-radius: 5px;margin-top: 120px;margin-right:120px">
		
		{% if path == "py_Lesson/1/1" %}
		<!-- <div class="col-md-4">

		</div> -->
		<div class="col-md-12">
			<br>
			<center>
				<video width = "700" height = "500" controls="controls">
					<source src={{ url_for('static', filename=name) }} type = "video/mp4"/>
					</source>
				        This browser doesn't support video tag.
				</video>
			</center>
		</div>
		<div >
			<center>
				<br><br>
				<a href="mailto:test@test.test?body=Link goes here http%3A%2F%2F127.0.0.1:{{port}}/{{path}}">
					<img src="{{url_for('static',filename='gmail.png')}}" style="height:50px;width:40px;margin-left: 500px">
					<img src="{{url_for('static',filename='index.png')}}" style="height:50px;width:40px;margin-right:500px">
				</a>
				</a>
				<br><br>
				<br><br>
			</center>
		</div>
		{% else %}
		<div>
			wrong url
		</div>
		{% endif%}
	</form>
{% endblock %}